<!DOCTYPE html>
<html>
<head>
  <title>BBoNY</title>
  <link rel="stylesheet" type="text/css" href="/landing.css">
</head>
<body>
  <h1>Backyard Birds of New York</h1>
  <h3><a href="/sightings">Sightings</a></h3>
  <h3><a href="/sightings/new">New Sighting</a></h3>
</body>
</html>