<!DOCTYPE html>
<html>
<head>
  <title>BBoNY</title>
</head>
<body>
  <h1>Sighting</h1>
  <h2><%= sighting.name %></h2>
  <h3>Found: <%= sighting.location %></h3>
  <h3>Seen: <%= sighting.date %></h3>
</body>
</html>