<!DOCTYPE html>
<html>
<head>
  <title>BBoNY</title>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
</head>
<body>
  <form method="POST" action="/sightings">
    <input type="text" name="name" placeholder="Name of Bird">
    <input type="date" name="date">
    <input type="text" name="location" placeholder="Location">
    <input type="submit" value="Add Sighting">
  </form>

</body>
</html>